.banner{
    background-size: cover;
    
    .hero{

        &-image{
            object-fit: cover;
            height: 500px;
        }
    }

    .subbanner{
        margin-top: -76px;
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 100px;
        display: none;

        &-button{

            position: absolute;
            // position: absolute;
            // width: 30px;
            // height: 30px;
            // border: 1px;
            // top: 0;
            // left: -30;
            // background-color: $primaryColor;
            // border-radius: 16px;

            // &:last-child{
            //     right: 30;
            // }
        }

        &-list{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0 12px;
            position: absolute;
        }

        &-item{
            width: 312px;
            height: 220px;
            position: relative;
        }

        &-image{
            border: 1px solid transparent;
            border-radius: 16px;
            object-fit: cover;
            border-bottom: $primaryColor;
            width: 100%;
            height: 100%;
            box-shadow: 0px 6px 0px 0px $secondaryColor;;
        }

        &-des{
            width: max-content;
            position: absolute;
            bottom: 20px;
            left: 50%;
            right: 0;
            transform: translateX(-50%);
            color: $white;
            font-size: 2rem;
            font-weight: 500;
            text-align: center;
            background-color: $primaryColor;
            background-clip: border-box;
            border-radius: 12px;
            padding: 8px 16px;
            
        }
    }
}
