.banner{
    background-size: cover;
    
    .hero{

        &-image{
            object-fit: cover;
            height: 500px;
        }
    }

    .subbanner{
        margin-top: -76px;
        display: flex;
        align-items: center;
        //position: relative;
        

        &-btn{
            width: 30px;
            height: 30px;
            border: 1px;
            top: 0;
            left: -30;
            background-color: $primaryColor;
            border-radius: 16px;
        }

        &-list{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 0 12px;
        }

        &-item{
            width: 312px;
            height: 220px;
            position: relative;

        }

        &-image{
            border: 1px solid transparent;
            border-radius: 16px;
            object-fit: cover;
            border-bottom: $primaryColor;
            width: 100%;
            height: 100%;
            //box-shadow: 0px 6px 0px 0px $secondaryColor;;
        }

        &-des{
            position: absolute;
            bottom: 20px;
            left: 0;
            right: 0;
            color: $white;
            font-size: 2rem;
            font-weight: 500;
            text-align: center;
            background-color: $primaryColor;
            background-clip: border-box;
            border-radius: 12px;
            padding: 4px 10px;
            
        }
    }
}
