.benefit{
    padding-top: 50px;
    padding-bottom: 50px;

    &-title{
        font-size: 3rem;
        font-weight: 700;

        span{
            color: $secondaryColor;
        }
    }

    &-text{
        font-size: 1.6rem;
        line-height: 1.6;
        font-weight: 300;
        text-align: justify;
        padding: 24px 0 30px;
        width: 50%;
    }

    &-box{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(372px,1fr));
        gap: 36px;
    }

    &-item{
        display: flex;
        padding: 18px;
        border: 1px solid rgba(0, 0%, 0%,.5);
        border-radius: 10px;
        background: $gray-second-light;
    }

    &-img{
        margin-right: 20px;

        img{
            width: 200px;
            height: auto;
         }
    }

    &-subbox{

        h3{
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 20px;
        }

        p{
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.6;
        }
    }
}

@media screen and (max-width: 1199px) {
    .benefit{
        &-text{
            width: 100%;
        }
    }
}

@media screen and (max-width: 730px) {
    .benefit{
        &-item{
            flex-direction: column;
            align-items: center;
        }

        &-box{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &-img img{
            width: 100px;
            margin-bottom: 30px;
        }
    }
}