.footer{
    padding: 46px 0 20px;
    background-color: $gray;

    &-main{
        display: flex;
        padding-bottom: 30px;
    }

    &-info{
        width: 100%;
        h4{
            font-size: 1.8rem;
            font-weight: 600;
            padding-bottom: 10px;
            border-bottom: .5px solid white;
            white-space: nowrap;
            color: white;
        }

        p{
            margin-top: 20px;
            font-size: 1.4rem;
            line-height: 1.4;
            font-weight: 400;
            color: white;
        }
    }

    &-item{
        width: 20%;
        padding-left: 70px;
        flex: 1;

        h4{
            height: 29px;
            font-size: 1.8rem;
            font-weight: 600;
            padding-bottom: 20px;
            color: white;
        }
        
    }

    &-introduce{
        display: flex;
    }

    &-list{
        
        p{
            color: white;
            font-weight: 300;
            line-height: 1.4;
            text-align: justify;
        }
        
        a{
            display: block;
            font-size: 1.4rem;
            line-height: 3.4;
            font-weight: 400;
            text-decoration: none;
            color: white;
            transition: 0.5s;
            &:hover{
                color: $primaryColor;
            }
        }
    }

    &-subfooter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid white;
        padding-top: 20px;

        p{
            font-size: 1.2rem;
            font-weight:400;
            color: white; 

            a{
                color: white;
                transition: 0.5s;

                &:hover{
                    color: $primaryColor;
                }
            }
        }

        &-list{
            list-style: none;
            white-space: nowrap;
            display: inline-flex;
            
            li{
                display: inline;
                border-right: 1px solid white;
                a{
                    display: block;
                    width: 100%;
                    font-size: 1.2rem;
                    color: white;
                    font-weight: 400;
                    margin: 0 5px;
                    transition: 0.5s;
                    &:hover{
                        color: $primaryColor;
                    }
                }

                &:last-child{
                    border-right: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .footer{
        &-main{
            flex-direction: column;
        }
        
        &-introduce{
            flex-direction: column;
        }

        &-item{
            padding-top: 50px;
            width: 100%;
            padding-left: 0;
        }

        &-subfooter{
            flex-direction: column-reverse;
            gap: 20px;

            p{
                line-height: 1.4;
                text-align: center;
            }

            &-list{
                display: flex;
                padding: 0;
                margin: 0;
                width: 100%;
                flex-wrap: wrap;

                li{
                    display: inline-block;
                    width: 25%;
                    text-align: center;
                    line-height: 2.4;
                    border-right: none;

                    a{
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }

        &-info{
            h4{
                white-space: normal;
                font-size: 1.6rem;
            }
        }

    }
}