
html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-weight: 600;
    color: $text-black;
    line-height: 1;
    font-family: $fontPrimary;
}

.container-fluid{
    width: 100%;
}

.container{
    max-width: 1298px;
    padding: 0 10px;
    margin: 0 auto;
}

hr{
    border-top: .1px solid $gray-second-light;
}

@media screen and (max-width: 1199px) {
    .container{
        padding: 0 40px;
    }
}