.price{
    background-image: url("../assets/images/bgprice.png");
    background-size: cover;
    background-repeat: no-repeat;
    
    &-box {
        padding: 70px 160px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-left{
        display: inline-flex;
        align-items: center;
        color: white;
        gap: 30px;

        h3{
            font-size: 2.4rem;
            font-weight: 700;
        }
    }

    &-right{
        display: inline-flex;
        align-items: center;
        color: white;

        &-link{
            display: flex;
            align-items: center;
            border: 1px none;
            padding: 20px 30px;
            border-radius: 30px;
            background-color: white;
            color: $primaryColor;
            font-size: 1.8rem;
            font-weight: 600;
            transition: 0.5s;

            &:hover{
                background-color: $primaryColor;
                color: white;
                text-align: center;
            }
        }

        &-img{
            display: inline;
            margin-left: 14px;
        }
    }
}

@media screen and (max-width: 1199px) {
    .price{
        &-box{
            flex-direction: column;
            align-items: center;
        }

        &-left{
            width: max-content;
            h3{
                font-size: 1.6rem;
            }
        }

        &-right{
            padding-top: 40px;
            a{
                width: max-content;
                font-size: 1.6;
            }
        }
    }
}