$primaryColor: #d12229;
$secondaryColor: #d3222b;

$gray: #393939;
$gray-light: #c3c3c3;
$gray-second-light: #f6f6f6;

$text-black: #222;
$text-black-light: #787878;
$white: #fff;

$fontPrimary: "Montserrat",sans-serif;
$wrapper: 1920px;
$text-black: #333;
$text-hover: red;
$font-primary: "Montserrat", sans-serif;
%img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}